/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize/components/color-variables";
 $color1: rgba(0, 158, 13, 1);
$color2: rgba(4, 15, 15, 1);
$color3: rgba(43, 168, 74, 1);
$color4: rgba(45, 58, 58, 1);
$color5: rgba(252, 255, 252, 1);
$main: (
  "base": $color1
);
 $primary-color: color("green", "base") !default;
 $secondary-color: color("dark-gray", "base") !default;
 @import "materialize";
 @import "https://fonts.googleapis.com/icon?family=Material\Icons";
